parameters:
	level: max
	paths:
		- src/
		- tests/

	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Event\\\\Response\\\\Event\\:\\:fromResponseData\\(\\) expects array\\{.*\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php
		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Event\\\\Response\\\\Event\\:\\:fromResponseData\\(\\) expects array\\{.*\\}, array<mixed> given\\.$#"
			count: 1
			path: src/BisClient.php
		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\AdministrationUnit\\\\Response\\\\AdministrationUnit\\:\\:fromResponseData\\(\\) expects array\\{.*\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php
		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Opportunity\\\\Response\\\\Opportunity\\:\\:fromResponseData\\(\\) expects array\\{.*\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php
		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Opportunity\\\\Response\\\\Opportunity\\:\\:fromResponseData\\(\\) expects array\\{.*\\}, array<mixed> given\\.$#"
			count: 1
			path: src/BisClient.php
