parameters:
	level: max
	paths:
		- src/
		- tests/

	ignoreErrors:

		# don't repeat whole array shape when passing response from client to value objects

		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\AdministrationUnit\\\\Response\\\\AdministrationUnit\\:\\:fromResponseData\\(\\) expects array\\{id\\: int, name\\: string, abbreviation\\: string, description\\: string, image\\: array\\{small\\: string, medium\\: string, large\\: string, original\\: string\\}\\|null, is_for_kids\\: bool, phone\\: string, email\\: string, \\.\\.\\.\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php

		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Event\\\\Response\\\\Event\\:\\:fromResponseData\\(\\) expects array\\{id\\: int, name\\: string, start\\: string, start_time\\: string\\|null, end\\: string, duration\\: int, location\\: array\\{name\\: string, description\\: string, patron\\: null, program\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_prague\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_brno\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, volunteering_work\\: string, volunteering_work_done\\: string, \\.\\.\\.\\}, group\\: array\\{id\\: int, name\\: string, slug\\: string\\}, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/BisClient.php

		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Event\\\\Response\\\\Event\\:\\:fromResponseData\\(\\) expects array\\{id\\: int, name\\: string, start\\: string, start_time\\: string\\|null, end\\: string, duration\\: int, location\\: array\\{name\\: string, description\\: string, patron\\: null, program\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_prague\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_brno\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, volunteering_work\\: string, volunteering_work_done\\: string, \\.\\.\\.\\}, group\\: array\\{id\\: int, name\\: string, slug\\: string\\}, \\.\\.\\.\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php

		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Opportunity\\\\Response\\\\Opportunity\\:\\:fromResponseData\\(\\) expects array\\{id\\: int, category\\: array\\{id\\: int, name\\: string, description\\: string, slug\\: string\\}, name\\: string, start\\: string, end\\: string, on_web_start\\: string, on_web_end\\: string, location\\: array\\{name\\: string, description\\: string, patron\\: null, program\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_prague\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_brno\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, volunteering_work\\: string, volunteering_work_done\\: string, \\.\\.\\.\\}, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/BisClient.php

		-
			message: "#^Parameter \\#1 \\$data of static method HnutiBrontosaurus\\\\BisClient\\\\Opportunity\\\\Response\\\\Opportunity\\:\\:fromResponseData\\(\\) expects array\\{id\\: int, category\\: array\\{id\\: int, name\\: string, description\\: string, slug\\: string\\}, name\\: string, start\\: string, end\\: string, on_web_start\\: string, on_web_end\\: string, location\\: array\\{name\\: string, description\\: string, patron\\: null, program\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_prague\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, accessibility_from_brno\\: array\\{id\\: int, name\\: string, slug\\: string\\}\\|null, volunteering_work\\: string, volunteering_work_done\\: string, \\.\\.\\.\\}, \\.\\.\\.\\}, mixed given\\.$#"
			count: 1
			path: src/BisClient.php

		# temporary unless BIS returns nulls for some old events
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Event/Response/Event.php


		# see explanation in static constructor
		-
			message: "#^Offset 'is_event_full' on array\\{is_registration_required\\: bool, is_event_full\\: bool\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Event/Response/Event.php
		-
			message: "#^Offset 'is_registration…' on array\\{is_registration_required\\: bool, is_event_full\\: bool\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Event/Response/Event.php
